---
import Layout from '@/layouts/Layout.astro';
import { Header } from '@/components/header';
import { Hero } from '@/components/hero';
import { Features } from '@/components/features';
import { Impact } from '@/components/impact';
import { Philosophy } from '@/components/philosophy';
import { ReactFlowComponent } from '@/components/react-flow';
import { Footer } from '@/components/footer';
import DotPattern from '@/components/ui/dot-pattern';
---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>
<Layout title="GoalFlow - Automate Your Success">
  <div class="relative min-h-screen">
    <DotPattern className="absolute inset-0 z-0" />
    <div class="relative z-10">
      <Header client:load />
      <main>
        <Hero client:load />
		<Impact client:load />
		<ReactFlowComponent client:load />
        <Features client:load />
        <Philosophy />
      </main>
      <Footer />
    </div>
  </div>
</Layout>